html, body {
    margin: 0;
    padding: 0;

}
section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, rgb(106, 16, 167) 20%, red, pink, rgb(49, 4, 107));
   font-size: 2em;
}

input[type="number"]
{
    margin-left: 2em;
    outline: none;
    font-size: 1em;
}
input[type="number"]:focus
{
    outline:  3px black solid;
}

button 
{
    outline: none;
    border-radius: 1em;
    font-size: 1em;
    margin-left: 2em;
  
}
h1{
    margin-left: 2em;
}